.carousel,
.carousel-item img {
    max-width: 100%;
    /* height: 500px; */
    /* overflow:hidden; */
    /* background-color: aquamarine; */
}

.carousel-item img {
    /* overflow-y: hidden; */
    filter: brightness(50%);
}

/* .carousel-item .carousel-caption h4 {
    font-size: 2rem;
}

.carousel-item .carousel-caption p {
    font-size: 1rem;
} */

.footer-icon a {
    text-decoration: none;
}

.footer .fa-facebook,
.fa-youtube,
.fa-instagram {
    padding-right: 20px;
    size: 20px;
    color: white;
}